@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-attachment: fixed;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-size: cover;
  background-image: url("../img/fondo.jpg"); }

header {
  top: 0;
  background: #050400;
  background: linear-gradient(90deg, #050400 11%, #c87a09 49%, black 89%);
  padding: 100px;
  width: 100%; }
  header .logo {
    width: 125px;
    cursor: pointer; }
  header p {
    text-align: center; }
  header img {
    width: 150px;
    height: 150px; }
  header h1 {
    text-align: center;
    margin: 50px;
    color: #fefffb;
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s; }
  header h1:hover {
    transform: scale(1.2); }

/******INDEX*****/
main .row {
  display: flex;
  flex-wrap: wrap; }

main aside {
  flex: 20px;
  background-color: black;
  padding: 20px; }

main section {
  flex: 70%;
  padding: 20px; }

main .allado h2 {
  font-size: xx-large;
  color: #fefffb;
  text-align: center; }

main .allado p {
  padding: 20px;
  margin: 20px;
  color: #fefffb;
  font-size: xx-large; }

main .allado img {
  padding: 30px;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px; }

main .bienvenido h2 {
  font-size: xx-large;
  color: #fefffb;
  margin: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

main .bienvenido p {
  font-size: xx-large;
  color: #fefffb;
  text-align: center; }

main .bienvenido iframe {
  margin: 100px; }

/*****Paquetes*****/
.paquete h2 {
  color: white;
  font-size: xx-large;
  text-align: center;
  margin: 20px; }

.paquete p {
  color: white;
  padding: 20px;
  font-size: x-large; }

.paquete img {
  width: 750px;
  height: 500px; }

.actividades p {
  color: white;
  font-size: xx-large;
  padding: 30px; }

.actividades ol li {
  color: white;
  font-size: xx-large;
  padding: 30px; }

/******DESTINOS******/
.carrusel p {
  text-align: center; }

#carouselExampleCaptions {
  max-width: 700px;
  /* Ancho máximo del carrusel */
  margin: 100px;
  left: 400px;
  /* Centra el carrusel en el contenedor */ }

#carouselExampleCaptions .carousel-inner img {
  max-height: 700px;
  /* Altura máxima de las imágenes del carrusel */
  width: 100%;
  /* Ajusta el ancho de las imágenes al contenedor */ }

h5 {
  font-size: 50px; }

/*****CONTACTANOS*****/
.contacto h2 {
  color: white;
  font-size: xx-large;
  text-align: center;
  margin: 20px; }

.contacto p {
  color: white;
  font-size: large;
  padding: 20px; }

.contacto div {
  color: white;
  font-size: large;
  padding: 20px; }

/*****VISITANOS*****/
.visita h3 {
  color: white;
  font-size: 30px;
  padding: 20px; }

.visita p {
  font-size: 30px;
  text-align: center; }

footer {
  background-color: #a7571e; }

footer .pie h3 {
  color: black;
  font-size: 35px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  margin: 35px; }

div .imagenes-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

footer .pie img {
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
  width: 150px;
  height: 150px; }

@media screen and (max-width: 1324px) {
  .allado img {
    height: 400px;
    width: 350px;
    left: 450px; }
  footer h3 {
    font-size: 15px;
    padding: 30px;
    color: #fdfdfd; }
  #carouselExampleCaptions {
    margin: 100px;
    max-width: 700px;
    /* Puedes ajustar el ancho según tu preferencia para dispositivos móviles */
    left: 100px; } }

@media screen and (max-width: 1324px) and (max-width: 1040px) {
  header {
    width: 100%;
    background-color: black; }
    header nav {
      flex-direction: column; }
  main div .row {
    flex-direction: column; }
  main .allado img {
    padding: 0px;
    position: relative;
    left: 350px; }
  main .bienvenido iframe {
    width: 350px;
    height: 280px; }
  main footer h3 {
    color: white; }
  main footer .pie img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px; } }

@media screen and (max-width: 1324px) and (max-width: 1040px) and (max-width: 852px) {
  .allado img {
    height: 300px;
    width: 250px;
    left: 280px; }
  .paquete img {
    width: 500px;
    height: 400px; }
  #carouselExampleCaptions {
    margin: 100px;
    max-width: 400px;
    /* Puedes ajustar el ancho según tu preferencia para dispositivos móviles */
    left: 100px; }
  footer .pie img {
    height: auto;
    width: auto;
    max-width: 95px;
    max-height: 95px; } }

@media screen and (max-width: 1324px) and (max-width: 1040px) and (max-width: 600px) {
  header {
    width: 100%;
    background-color: black; }
    header h1 {
      font-size: 30px; }
    header nav {
      flex-direction: column; }
    header .linea p {
      font-size: 5px; }
  main .allado img {
    padding: 0px;
    position: relative;
    left: 180px; }
  main .bienvenido iframe {
    width: 200px;
    height: 170px; }
  .paquete img {
    width: 350px;
    height: 300px; }
  #carouselExampleCaptions {
    margin: 80px;
    max-width: 350px;
    /* Puedes ajustar el ancho según tu preferencia para dispositivos móviles */
    left: 30px; }
  .visita iframe {
    width: 350px;
    height: 180px; }
  footer h2 {
    color: white; }
  footer .pie img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px; } }

@media screen and (max-width: 1324px) and (max-width: 1040px) and (max-width: 430px) {
  header {
    width: 100%;
    background-color: black; }
    header .Logo {
      height: 100px;
      height: 100px; }
    header h1 {
      font-size: 15px; }
  main .allado img {
    height: 280px;
    width: 150px;
    left: 130px; }
  main .allado h2 {
    font-size: 25px; }
  main .allado p {
    font-size: 15px; }
  main .bienvenido h1 {
    font-size: 15px; }
  main .bienvenido p {
    font-size: 15px; }
  main .bievenido iframe {
    width: 150px;
    height: 100px; }
  footer .pie img {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px; }
  footer h2 {
    font-size: 15px;
    padding: 30px;
    color: #fdfdfd; } }
