footer {
    background-color: rgb(69, 3, 3)
}
footer .pie h3{
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px;
}
.pie img{
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

