footer{
    width: 100%;
background-color:$color-terciario;
display: flex;

footer h2{
    font-size: xx-large;
    text-align: center;
    color: $color-secundario;

}
.pie img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;

}

}

