header{

    top: 0;
    background: rgb(5,4,0);
background: linear-gradient(90deg, rgba(5,4,0,1) 11%, rgba(200,122,9,1) 49%, rgba(0,0,0,1) 89%);
    padding: 100px;
    width: 100%;

    .logo {
        width: 125px;
        cursor: pointer;
}

p{
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
}


h1{
    text-align: center;
        margin: 50px;
        color: $color-secundario;
        font-size: 65px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: 1s;

    }
    h1:hover{
        transform: scale(1.2);
    }

}