*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{

    background-attachment: fixed;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    background-image:url("../img/fondo.jpg")
    
    
    
}