@media  screen and (max-width:1324px){
    .allado img{
        height: 400px;
        width: 350px;
        left: 450px;
    }
    footer  h3{
            font-size: 15px;
        padding: 30px;
        color: rgb(253, 253, 253);
        }
        #carouselExampleCaptions {
            margin: 100px;
             max-width:700px; /* Puedes ajustar el ancho según tu preferencia para dispositivos móviles */
            left:100px;
}
    


@media screen and (max-width:1040px){
    header{
        width: 100%;
        background-color: rgb(0, 0, 0);
        nav{
            flex-direction: column;
}
}
    main{
        div .row{
            flex-direction: column;
    } 
    
        .allado img{
        padding: 0px;
        position: relative;
        left: 350px;
    }
    
    .bienvenido iframe{
        width: 350px;
        height: 280px;
    }

footer{
    h3{
        color: white;
    }


.pie img{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;

}
}
}

@media screen and (max-width:852px){
    .allado img{
        height: 300px;
        width: 250px;
        left: 280px;
    }
    
    .paquete img{
    
        width: 500px;
        height: 400px;
        
    }

        #carouselExampleCaptions {
            margin: 100px;
             max-width:400px; /* Puedes ajustar el ancho según tu preferencia para dispositivos móviles */
            left:100px;
}
footer .pie img{
    height: auto;
    width: auto;
    max-width: 95px;
    max-height: 95px;

}
}

    @media screen and (max-width:600px){
        header{
            width: 100%;
            background-color: rgb(0, 0, 0);
            h1{
                font-size: 30px;
            }
            nav{
                flex-direction: column;
    }
    .linea p{
        font-size: 5px;

    }
    }
        main{
        .allado img{
            padding: 0px;
            position: relative;
            left: 180px;
        }
        
        .bienvenido iframe{
            width: 200px;
            height: 170px;
        }
    }
    .paquete img{
    
        width: 350px;
        height: 300px;
        
    }
    #carouselExampleCaptions {
        margin: 80px;
         max-width:350px; /* Puedes ajustar el ancho según tu preferencia para dispositivos móviles */
        left:30px;
}
.visita iframe{
    width: 350px;
    height: 180px;
}

    footer{
        h2{
            color: white;
        }

    
    .pie img{
        height: auto;
        width: auto;
        max-width: 50px;
        max-height: 50px;

    }
    }
}   

@media screen and (max-width:430px){
    header{
        width: 100%;
        background-color: rgb(0, 0, 0);
        .Logo{
            height: 100px;
            height: 100px;
        }
        h1{
            font-size: 15px;
        }

}
main{
    .allado img{
        height: 280px;
        width: 150px;
        left: 130px;
    }
    .allado h2 {
        font-size: 25px;

    }
    .allado p{
        font-size: 15px;
}
.bienvenido h1{
    font-size: 15px;
}
.bienvenido p{
    font-size: 15px;
}
.bievenido iframe{
    width: 150px;
    height: 100px;
}
}
footer .pie img{
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
}
footer h2{
    font-size: 15px;
padding: 30px;
color: rgb(253, 253, 253);
}
}
}
}